<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css')}}">
    <title>Liste personnes</title>
</head>
<body>
    {% for message in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    
    <h1>Liste des personnes</h1>
    <table class="table table-success table-striped">
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Age</th>
            <th>Job</th>
            <th>Détails</th>
            <th>Effacer</th>
            <th>Editer</th>
        </tr>
        {% for personne in personnes %}
            <tr>
                <th>{{ personne.firstname }}</th>
                <th>{{ personne.lastname }}</th>
                <th>{{ personne.age }}</th>
                <th>{{ personne.job }}</th>
                <th>
                    <a href="{{ path('personne.detail' , {id : personne.id }) }}">Détails</a>
                </th>
                <th>
                    <a href="{{ path('personne.delete' , {id : personne.id }) }}">Effacer</a>
                </th>
                <th>
                    <a href="{{ path('personne.edit' , {id : personne.id }) }}">Editer</a>
                </th>
            </tr>
        {% endfor %}
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">

            {% if page > 1 %}
                <li class="page-item">
                    <a 
                        class="page-link" 
                        href="{{ path('personne.page' , {page : page - 1}) }}"
                    >
                        Previous
                    </a>
                </li>
            {% endif %}

            {% for i in 1..nbPages %}
                <li class="page-item">
                    <a 
                        class="page-link" 
                        href="{{ path('personne.page' , {page : i}) }}"
                    >
                        {{ i }}
                    </a>
                </li>
            {% endfor %}

            {% if page < nbPages %}
                <li class="page-item">
                    <a 
                        class="page-link" 
                        href="{{ path('personne.page' , {page : page + 1}) }}"
                    >
                        Next
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>

</body>
</html>
